:root {
    --primary-black: #000000;
    --primary-white: #ffffff;
    --primary-blue: #2b6cb0;
    --secondary-gray: #8d8d8d;
    --secondary-green: #48BB78;
    --text-color: #ffffff;
}

.nav-bar {
    background-color: var(--primary-blue);
    color: var(--text-color);
}

.banner {
    background-color: var(--secondary-green);
    color: var(--text-color);
}
body {
    background-color: var(--secondary-gray);
    color: var(--primary-black);
}
.footer-links {
    background-color: var(--primary-blue);
    color: var(--text-color);
}